<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>new comment</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  </head>
  <style>
    html{
      background-color: #0278AE;
    }
  </style>
  <body>

    <div class="container">
      <div class="box columns is-mobile is-centered" style="padding: 30px; margin-top: 50px; width: 1000px; ">
        <div class="column is-half is-offset-one-quarter">

    <h1  style="font-size: 2rem;">Make a new comment</h1>
    <hr>

    <form action="/comments" method="post">
      <section>
        <label style="font-size: 1.2rem;"  for="username">Enter username:</label><br>
        <input type="text" id="username"name="username"  placeholder="Username">
      </section>
      <section>
         <br>
        <label style="font-size: 1.2rem;"  for="comment">Comment text:</label><br>
        <textarea name="comment" rows="5" cols="30"></textarea>
      </section>

       <button class="button is-success" type="submit">Submit</button>

    </form><br>
<a  class="button is-info" href="/comments/new">Back to Index</a>


</div>
</div>


</div>

  </body>
</html>
